@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --color-base: #0b4c53;
  --font-poppins: "Poppins", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;

  --color-base: #0b4c53;
  --color-dark: #252432;
  --color-fire: #fe483b;
  --color-jose: #737373;
  --font-poppins: "Poppins", sans-serif;
}

.nuxt-icon svg {
  margin-bottom: 0 !important;
}

@layer base {
  body {
    @apply font-poppins;
  }
}

@layer utilities {
  /* .sidepad {
    @apply px-[40px] md:px-[100px];
  } */
}

.nuxt-icon svg {
  margin-bottom: 0 !important;
}
